Repository vlayer-xyz/vlayer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vlayer-xyz/devops, @vlayer-xyz/devex, @vlayer-xyz/web-proof, @vlayer-xyz/email-proof, @vlayer-xyz/storage-proof, @pociej

Minor changes
  packages/browser-extension/vite.config.ts
  rust/vld/src/main.rs
Owners: @pociej

add autocomplete
  rust/Cargo.lock
  rust/vld/Cargo.toml
  rust/vld/src/cli.rs
  rust/vld/src/main.rs
Owners: none

example change
  packages/sdk/README.md
Owners: @pociej, @vlayer-xyz/devex

update
  packages/sdk/README.md
Owners: @pociej, @vlayer-xyz/devex

add devex team
  .github/teams.yml
Owners: @vlayer-xyz/devops

.github/CODEOWNERS:

.github @vlayer-xyz/devops
docker @vlayer-xyz/devops
ansible @vlayer-xyz/devops
book @vlayer-xyz/devex 
examples @vlayer-xyz/devex
examples/simple_web_proof @vlayer-xyz/web-proof @vlayer-xyz/devex
examples/simple_email_proof @vlayer-xyz/email-proof @vlayer-xyz/devex
examples/simple_time_travel @vlayer-xyz/storage-proof @vlayer-xyz/devex
examples/simple_teleport @vlayer-xyz/storage-proof @vlayer-xyz/devex
packages/browser-extension @vlayer-xyz/web-proof
packages/sdk @pociej @vlayer-xyz/devex
packages/sdk-hooks @pociej @vlayer-xyz/devex
*.ts @pociej
rust/chain @vlayer-xyz/storage-proof
rust/services @vlayer-xyz/storage-proof
rust/mpt @vlayer-xyz/storage-proof
rust/key_value @vlayer-xyz/storage-proof
rust/email_proof @vlayer-xyz/email-proof
rust/web_proof @vlayer-xyz/web-proof
